= form_for @seat do |f|
  - if @seat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@seat.errors.count, "error")} prohibited this seat from being saved:"
      %ul
        - @seat.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :concert
    %p= @seat.concert.title
    = f.hidden_field :concert_id, value: @seat.concert.id
  .field
    = f.label :row
    %p= params[:row]
    = f.hidden_field :row, value: params[:row]
    //= f.text_area :row
  .field
    = f.label :number
    %p= params[:number]
    = f.hidden_field :number, value: params[:number]
    //= f.number_field :number
  .field
    = f.label :price
    %p= params[:price]
    = f.hidden_field :price, value: params[:price]
    //= f.text_field :price
  .actions
    = f.submit 'Confirm'
    
