%link(rail='stylesheet' href='assets/stylesheets/seatMap.scss')
- @seats = concert.seats

%ul

%table
  %tbody
    %tr
      %th{:class => "occupied"} Legend: available seat price
      %td{:class => "available", :id => 'F'} £25
      %td{:class => "available", :id => 'M'} £20
      %td{:class => "available", :id => 'Q'} £15
      %td{:class => "available", :id => 'Z'} £10
      %td{:class => "occupied"} Occupied seat
%h1 Stage
%table
  %tbody
    //Arrays with all the rows per theater and seats per row
    //We are assuming same number of rows and seats per row for all theaters to simplify the code;
    //Alternatively, it could be coded so that it can be specified when creating a theater and used here as
    //@rows = concert.theater.rows and @numbers = concert.theater.numbers
    - @rows = [*?A..?Z]
    - @numbers = [*1..30]
    - @rows.each do |row|
      %tr
        %td= row
        - @numbers.each do |number|
          //set price depending on row
          - @price = 10
          -case row
            -when 'A', 'B', 'C', 'D', 'E'
              -@price = 20
            -when 'F', 'G', 'H', 'I', 'J', 'K', 'L'
              -@price = 25
            -when 'M', 'N', 'O', 'P'
              -@price = 20
            -when 'Q', 'R', 'S', 'T'
              -@price = 15
          - @class= "available"
          - @seats.each do |seatc|
            -if seatc.row == row && seatc.number == number
              - @class= "occupied"

          %td{:class => "#{@class}", :id => row }
            // if seat is occupied only set the number but not the link to create seat object and ticket
            -if "#{@class}" == "occupied"
              = number
              //else set the link and allow the user to book the seat, creating a new ticket
            -else
              = link_to number, new_seat_path(:concert_id => @concert, :row => row, :number => number, :price => @price)
