%h1 Listing booked seats
%p Visit the "My Ticekts" section to view the seats you have booked
%table
  %thead
    %tr
      %th Concert
      %th Theater
      %th Row
      %th Number
      %th Price
      %th
      %th
      %th

  %tbody
    - @seats.each do |seat|
      %tr
        %td= seat.concert.title
        %td= seat.concert.theater.title
        %td= seat.row
        %td= seat.number
        %td= seat.price
        %td= link_to 'Show', seat
        %td= link_to 'Edit', edit_seat_path(seat)
        %td= link_to 'Destroy', seat, method: :delete, data: { confirm: 'Are you sure?' }

%br

//= link_to 'New Seat', new_seat_path
