%h1 Listing seats

%table
  %thead
    %tr
      %th Concert
      %th Row
      %th Number
      %th
      %th
      %th

  %tbody
    - @seats.each do |seat|
      %tr
        %td= seat.concert
        %td= seat.row
        %td= seat.number
        %td= link_to 'Show', seat
        %td= link_to 'Edit', edit_seat_path(seat)
        %td= link_to 'Destroy', seat, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Seat', new_seat_path
