%p#notice= notice

%p
  %b Concert:
  = @seat.concert.title
%p
  %b Row:
  = @seat.row
%p
  %b Number:
  = @seat.number
%p
  %b Price:
  = @seat.price

= link_to 'Edit', edit_seat_path(@seat)
\|
= link_to 'Back', tickets_path
