%h1 Listing concerts

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @concerts.each do |concert|
      %tr
        %td= concert.title
        %td= concert.description
        %td= link_to 'Show', concert
        %td= link_to 'Edit', edit_concert_path(concert)
        %td= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Concert', new_concert_path
