%h1
  %b= @concert.title
%p
  %b Theater:
  = @concert.theater.title
%p
  %b Description:
  = @concert.theater.description

%h2 Seat Map
%table
  %tbody

= render 'seats/map.html.haml',  { concert: @concert }

-# = link_to 'Edit', edit_concert_path(@concert)
-# \|
= link_to 'Back', concerts_path
