= form_for @theater do |f|
  - if @theater.errors.any?
    #error_explanation
      %h2= "#{pluralize(@theater.errors.count, "error")} prohibited this theater from being saved:"
      %ul
        - @theater.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
