%p#notice= notice

%p
  %b Title:
  = @theater.title
%p
  %b Description:
  = @theater.description

%p= link_to I18n.t('home.theaters.add_concert'), new_concert_path(theater_id: @theater)
= link_to 'Edit', edit_theater_path(@theater)
\|
= link_to 'Back', theaters_path
